*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.nav{
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding: 5px;
}
.container{
    background-color: dimgray;
    
    box-shadow: 1px 2px 1px 2px black;
    margin: 10px;
    padding: 5px;
}
.imgbox{
    width: 10%;
    
    display: inline-block;
}
.title{
   width: 70%;
     
     display: inline-block;
    color: white;
}

